/* Whole Nav Bar */
nav {
  background-color: #4056A1;
  color: #FFFFFF;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

/* Right Side Nav */
.nav-right-side {
  display: flex;
  flex-direction: column;
}

/* Tweeter Text */
.nav-header {
  font-family: 'Bungee';
  font-size: 1.25em;
}

/* Icon Styling */
.fa-solid.fa-angles-down {
  color: #f90606;
  text-align: center;
}