.all-tweets {
  margin-top: 3em;
  margin-bottom: 1em;
}

article {
  border-style: solid;
}

.tweet-content > p {
  padding: 0em 1em;
  margin-bottom: 1.5em; 
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tweet-name {
  display: flex;
}

.tweet-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid black;
  margin: 0 0.5em;
  padding: 0em 1em;
  font-size: 16px;
}

.fa-solid, .fa-heart, .fa-flag, .fa-retweet {
  color: #4052a1;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

/* Hover Styles */
article:hover {
  box-shadow: 5px 5px #C8CBDF;
}

.fa-solid:hover, .fa-heart:hover, .fa-flag:hover, .fa-retweet:hover {
  color: #C8982B;
}